services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8015:80"
    # If you want logs:
    # logging:
    #   driver: "json-file"
    #   options:
    #     max-size: "10m"
    #     max-file: "3"
